---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/tracks?client_id=32670b0d40eb8b1b87eac9607e13f843&format=json&q=nineinchnails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e107b01b7fd0d7e27be10cfaa45572c4"'
    body:
      encoding: UTF-8
      string: '[{"kind":"track","id":95453832,"created_at":"2013/06/04 23:23:23 +0000","user_id":46380190,"duration":317365,"commentable":true,"state":"finished","original_content_size":55966328,"sharing":"public","tag_list":"\"nine
        inch nails\" nin \"came back haunted\" \"trent reznor\"","permalink":"came-back-haunted-2013","streamable":true,"embeddable_by":"all","downloadable":false,"purchase_url":null,"label_id":null,"purchase_title":null,"genre":"Electronic","title":"Came
        Back Haunted (2013)","description":"First single from the upcoming album \"Hesitation
        Marks,\" out 9.03.13. Pre-order the album and download \"Came Back Haunted\"
        from nin.com: http://store.nin.com or iTunes: http://ninein.ch/itunesdlx","label_name":"","release":"","track_type":"original","key_signature":"","isrc":"","video_url":null,"bpm":null,"release_year":null,"release_month":null,"release_day":null,"original_format":"wav","license":"all-rights-reserved","uri":"http://api.soundcloud.com/tracks/95453832","user":{"id":46380190,"kind":"user","permalink":"nineinchnails","username":"nineinchnails","uri":"http://api.soundcloud.com/users/46380190","permalink_url":"http://soundcloud.com/nineinchnails","avatar_url":"http://i1.sndcdn.com/avatars-000043925604-s4mhaz-large.jpg?5e64f12"},"permalink_url":"http://soundcloud.com/nineinchnails/came-back-haunted-2013","artwork_url":"http://i1.sndcdn.com/artworks-000049792816-yfquch-large.jpg?5e64f12","waveform_url":"http://w1.sndcdn.com/A5HHgXL4xU5V_m.png","stream_url":"http://api.soundcloud.com/tracks/95453832/stream","playback_count":2156808,"download_count":0,"favoritings_count":15044,"comment_count":2866,"attachments_uri":"http://api.soundcloud.com/tracks/95453832/attachments"},{"kind":"track","id":95440298,"created_at":"2013/06/04
        21:36:44 +0000","user_id":46380190,"duration":373429,"commentable":true,"state":"finished","original_content_size":5976157,"sharing":"public","tag_list":"\"nine
        inch nails\" closer \"the downward spiral\" 90s \"trent reznor\"","permalink":"closer-1994","streamable":true,"embeddable_by":"all","downloadable":false,"purchase_url":null,"label_id":null,"purchase_title":null,[...]
- request:
    method: get
    uri: http://api.soundcloud.com/resolve?client_id=32670b0d40eb8b1b87eac9607e13f843&format=json&url=http://soundcloud.com/came-back-haunted-2013
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"error_message":"404 - Not Found"}]}'
  recorded_at: Sun, 29 Sep 2013 19:29:48 GMT
- request:
    method: get
    uri: http://api.soundcloud.com/resolve?client_id=32670b0d40eb8b1b87eac9607e13f843&format=json&url=http://soundcloud.com/nineinchnails/came-back-haunted-2013
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://api.soundcloud.com/tracks/95453832.json?client_id=32670b0d40eb8b1b87eac9607e13f843
    body:
      encoding: UTF-8
      string: '{"status":"302 - Found","location":"http://api.soundcloud.com/tracks/95453832.json?client_id=32670b0d40eb8b1b87eac9607e13f843"}'
  recorded_at: Sun, 29 Sep 2013 19:33:35 GMT
- request:
    method: get
    uri: http://api.soundcloud.com/tracks/95453832.json?client_id=32670b0d40eb8b1b87eac9607e13f843
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fb758354040ec14faea48dac96ac9f92"'
    body:
      encoding: UTF-8
      string: '{"kind":"track","id":95453832,"created_at":"2013/06/04 23:23:23 +0000","us[...]
- request:
    method: get
    uri: http://api.soundcloud.com/tracks?client_id=32670b0d40eb8b1b87eac9607e13f843&format=json&id=95453832
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"96d9ae1f1f9d0e42dc3ebcd4370cdaf7"'
    body:
      encoding: UTF-8
      string: '[{"kind":"track","id":113109520,"created_at":"2013/09/29 21:43:2[...]
- request:
    method: get
    uri: http://api.soundcloud.com/tracks/95453832?client_id=32670b0d40eb8b1b87eac9607e13f843&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"058ea99fadbfde42c3cfa37d96780d77"'
    body:
      encoding: UTF-8
      string: '{"kind":"track","id":95453832,"created_at":"2013/06/04 23:23:23 +00[...]
- request:
    method: get
    uri: http://api.soundcloud.com/resolve?client_id=32670b0d40eb8b1b87eac9607e13f843&format=json&url=http://soundcloud.com/nineinchnails/definitive-nin-the-singles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"error_message":"404 - Not Found"}]}'
  recorded_at: Sun, 29 Sep 2013 22:15:34 GMT
- request:
    method: get
    uri: http://api.soundcloud.com/resolve?client_id=32670b0d40eb8b1b87eac9607e13f843&format=json&url=http://soundcloud.com/nineinchnails/sets/definitive-nin-the-singles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://api.soundcloud.com/playlists/6389846.json?client_id=32670b0d40eb8b1b87eac9607e13f843
    body:
      encoding: UTF-8
      string: '{"status":"302 - Found","location":"http://api.soundcloud.com/playlists/6389846.json?client_id=32670b0d40eb8b1b87eac9607e13f843"}'
  recorded_at: Sun, 29 Sep 2013 22:29:08 GMT
- request:
    method: get
    uri: http://api.soundcloud.com/playlists/6389846.json?client_id=32670b0d40eb8b1b87eac9607e13f843
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f4e1094d227ad7cc4036139194af91c7"'
    body:
      encoding: UTF-8
      string: '{"kind":"playlist","id":6389846,"created_at":"2013/06/04 21:36:44 +0000","user_id":46380190,"duration":7476786,"sharing":"public","tag_list":"\"nine
        inch nails\" nin \"trent reznor\"","permalink":"definitive-nin-the-singles","track_count":27,"streamable":true,"downloadable":false,"embeddable_by":"all","purchase_url":null,"label_id":null,"type":"compilation","playlist_type":"compilation","ean":"","description":"A
        chronological collection of every single from NIN''s entire career, including
        the new single, \"Came Back Haunted.\"","genre":"Alternative","release":"","purchase_title":null,"label_name":"","title":"Definitive
        NIN: The Singles (1989-2013)","release_year":null,"release_month":null,"release_day":null,"license":"all-rights-reserved","uri":"http://api.soundcloud.com/playlists/6389846","permalink_url":"http://soundcloud.com/nineinchnails/sets/definitive-nin-the-singles","artwork_url":"http://i1.sndcdn.com/artworks-000049785040-uizokz-large.jpg?3eddc42","user":{"id":46380190,"kind":"user","permalink":"nineinchnails","username":"nineinchnails","uri":"http://api.soundcloud.com/users/46380190","permalink_url":"http://soundcloud.com/nineinchnails","avatar_url":"http://i1.sndcdn.com/avatars-000043925604-s4mhaz-large.jpg?3eddc42"},"tracks":[{"kind":"track","id":95440291,"created_at":"2013/06/04
        21:36:44 +0000","user_id":46380190,"duration":226580,"commentable":true,"state":"finished","original_content_size":9063619,"sharing":"public","tag_list":"\"nine
        inch nails\" nin \"pretty hate machine\" \"down in it\" \"trent reznor\" 80s","permalink":"down-in-it-1989","streamable":true,"embeddable_by":"all","downloadable":false,"purchase_url":null,"label_id":null,"purchase_title":null,"genre":"Industrial","title":"Down
     [...]
